.search-form-input.search-form-text-field
  = text_field_tag "q", params[:q], :placeholder => search_bar_placeholder(selected_shape)
.search-form-input
  %button.action-button#search-button{type: 'submit'}
    = icon_tag("search", ["icon-part"])
