// Home page styles

@import "mixins/all";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

$link-color: rgb(3,102,214);

.marketplace-landing-page-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.splash-screen {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0);
    height: 100%;
  }

  & .background-image {
    position: absolute;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
    object-position: 72% 50%;
  }

  @include media(tablet) {
    &:after {
      content:"";
      position: absolute;
      z-index: -1;
      top: -65px;
      bottom: 0;
      left: calc( 50% - 1px);
      width: 3px;
      background-image: radial-gradient(circle at 50% 40%, black 0px, black 7.5%, rgba(0,0,0,0) 10%), radial-gradient(circle at 50% 60%, black 0px, black 7.5%, rgba(0,0,0,0) 10%), linear-gradient(to bottom, rgba(0,0,0,0) 40%, black 40%, black 60%, rgba(0,0,0,0) 60%);
      background-position: right;
      background-size: 100% 50px;
      background-repeat: repeat-y;
    }
  }
}

.splash-header-container {
  margin-top: 50px;
  width: 65%;

  @include media(tablet) {
    width: 50%;
  }

  .splash-header {
    @include source-neue-kabel;
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 0.9em;
    font-size: 2em;

    @include media(tablet) {
      color: $header-color;
      font-size: 4em;
    }
  }

  .splash-subtitle {
    @include source-chantal;
    margin: 0;
    padding: 0;
    transform: rotate(-5deg);
    color: rgb(0,0,0);
    line-height: 1em;
    font-style: italic;
    font-size: 2em;

    @include media(tablet) {
      font-size: 3.5em;
      margin-top: -10px;
    }
  }
}

.splash-actions {
  width: 100%;
  height: auto;
  flex: 5 1 auto;
  display: flex;
  align-items: flex-end;
  &:hover {
    color: rgb(0,0,0);
  }
}

.splash-action {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  color: rgb(0,0,0);

  &.mobile {
    display: flex;
  }

  &.desktop {
    display: none;
  }

  @include media(tablet) {
    width: 50%;

    &.mobile {
      display: none;
    }

    &.desktop {
      display: flex;
    }
  }
}

.marketplace-landing-page-heading {
  @include source-neue-kabel;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-bottom: 0.1em;
  letter-spacing: 0;
  color: rgb(0,0,0);

  @include media(tablet) {
    font-size: 2.2em;
    margin-bottom: 0.35em;
  }
}

.half-highlight-element {
  
  &.offering:after {
    @include half-highlight-element($offering-color);
  }

  &.requesting:after {
    @include half-highlight-element($requesting-color);
  }
}

.marketplace-landing-page-sub-heading {
  @include source-neue-kabel;
  position: relative;
  font-weight: 600;
  text-align: center;
  margin: 1em 0em;
  color: rgb(0,0,0);

  @include media(tablet) {
    font-size: 1.3em;
  }
}

.marketplace-landing-page-action-button {
  @include source-neue-kabel;
  line-height: 1em;
  display: block;
  color: rgb(0,0,0);
  padding: 0.75em 1.5em;
  border-radius: 10em;
  font-weight: 600;

  &:hover {
    color: rgb(0,0,0);
  }

  &.offering {
    background-color: $offering-color;
  }

  &.requesting {
    background-color: $requesting-color;
  }

  @include media(tablet) {
    font-size: 1.2em;
  }
}

.splash-scroll-container {
  position: relative;;
  width: 100%;
  flex: 3 1 auto;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.splash-scroll-button {
  position: relative;
  color: rgb(255,255,255);
  height: 60px;
  width: 60px;
  background: rgba(0,0,0,0);
  padding: 0;
  margin: 0;

  &:hover {
    background: inherit;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  svg {
    position: relative;
    height: inherit;
    width: inherit;
    stroke-width: 0;

    &:hover {
      color: rgb(0,0,0);
    }

    @include media(tablet) {
      color: rgb(0,0,0);
      &:hover {
        color:  rgb(255,255,255);
      }
    }
  }
}

.marketplace-landing-page .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
}

.marketplace-landing-page > .how-it-works {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  .text-content-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media(tablet) {
      padding: 0 1.5em;
    }
  }

  .marketplace-landing-page-sub-heading {
    text-align: left;
  }

  .how-it-works-details {
    position: relative;
    flex: 1 1 100%;
    margin: 1em 0 2em 0;
    @include source-neue-kabel;
    font-size: 18px;
    line-height: 23px;

    @include media(tablet) {
      max-width: 45.5%;
    }
  }

  .how-it-works-background {
    background-color: #cfe3f5;
    display: inline-block;
    height: 14px;
    font-weight: bold;
    line-height: 2px;
    border-radius: 8px;
  }

  .marketplace-landing-page-heading {
    position: relative;
    text-align: left;
    letter-spacing: 0;
    font-size: 1.2em;
    z-index: 1;
    width: max-content;
    margin-bottom: 0.5em;

    @include media(tablet) {
      margin-bottom: 1em;
      font-size: 1.5em;
    }
  }

  .how-it-works-text-body {
    color: rgb(0,0,0);
    letter-spacing: 0;

    > a {
      color: $link-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.flex-container.full-width {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
}

.marketplace-landing-page-section-heading {
  @include source-chantal;
  font-weight: 500;
  transform: rotate(-5deg);
  font-size: 2em;
  margin: 1.5em 0 0.5em 0;
  font-style: italic;

  &:after {
    background-color: $light-highlight-color;
  }

  @include media(tablet) {
    font-size: 3.5em;
  }
}

.video-player-container {
  justify-content: center;
  margin: 2em 0;
  padding: 0;

  @include media(tablet) {
    margin: 3em 0;
    padding: 0 2em;
  }

  .player-wrapper {
    position: relative;
    flex: 1 1 100%;
    max-width: 800px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;

    .background-image {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      object-fit: contain;
      display: block;
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    &:focus {
      outline: none;
    }
  }
}

.how-it-works-action {
  margin: 2em 0 5em 0;
  justify-content: center;
  flex: 0 0 auto !important;

  a {
    box-shadow: 0 2px 43px 0 rgba(36,36,36,0.2);
    min-width: 250px;
    text-align: center;
  }
}

.two-way-selector {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0;

  .selector-container {
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
  }

  .selector-button {
    background: rgba(0,0,0,0);
    box-sizing: border-box;
    width: max-content;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}

.gig-cards-container {
  overflow-y: scroll;
  margin-bottom: 1em;

  @include media(tablet) {
    overflow: hidden;
    margin-bottom: 2em;
  }
}

.gig-card-container {
  position: relative;
  max-width: 33.3%;
  min-width: 300px;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: 0.5em;
  display: flex;


  @include media(tablet) {
    min-width: 33.3%;
  }
}

.gig-card-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1em;
  box-shadow: 1px 2px 15px 0px rgba(36, 36, 36, 0.15);
  display: flex;
  flex-direction: column;

  img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: contain;
  }

  .details-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    padding: 1em 1em 1.5em 1em;
    display: flex;
    flex-direction: column;
    color: rgb(0,0,0);
    letter-spacing: 0;
  }

  .user-statement {
    position: relative;
    min-width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .price-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .title-statement{
    position: relative;
    flex: 1 1 80%;
    max-width: 80%;
    @include source-neue-kabel;
    font-weight: 600;
    font-size: 1.2em;
  }

  .price-statement {
    position: relative;
    flex: 1 1 auto;
    max-width: 30%;
    @include source-neue-kabel;
    font-weight: 600;
    font-size: 1.2em;
    max-width: max-content;
    height: max-content;
    padding-left: 5px;
  }
}





.desktop-order-1 {
  order: unset;
  @include media(tablet) {
    order: 1;
  }
}

.desktop-order-2 {
  order: unset;
  @include media(tablet) {
    order: 2;
  }
}

.desktop-order-3 {
  order: unset;
  @include media(tablet) {
    order: 3;
  }
}
