@import "mixins/all";

@mixin default-button {
  background: inherit;
  color: inherit;
  margin: 0;
  border: none;
  border-radius: 0;
  display: inline;
  line-height: 1em;
  padding: 0.5em;
}

@mixin section-button {
  @include source-neue-kabel;
  font-weight: 900;
  text-transform: uppercase;
  transition: transform 0.1s ease-out;
  line-height: 1.3em;

  &:hover, &.highlight {
    background: unset;
    color: black;
    transform: scale(1.04);
    transition: transform 0.25s ease-out;
  }

  &:active, &:focus {
    outline: none;
  }
}

@mixin half-highlight-multiline {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone; 
  background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 40%, $requesting-color 40%, $requesting-color 90%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%);
}

.dynamic-menu-button {
  @include default-button;
  @include section-button;
  font-size: 1.8em;

  &.highlight .button-text {
    @include half-highlight-multiline;
  }

  .button-text {
    line-height: 1em;
    padding: 0px 0.3ch;
  }
}