@import "mixins/all";

.dynamic-menu-button {
  @include default-button;
  @include section-button;
  font-size: 1.8em;

  &.highlight .button-text {
    @include half-highlight-multiline;
  }

  .button-text {
    line-height: 1em;
    padding: 0px 0.3ch;
  }
}