@import "mixins/all";

.dynamic-menu-button {
  @include default-button;
  @include section-button;
  font-size: 1.8em;

  &.highlight:nth-child(3n+1) .button-text,
  &:hover:nth-child(3n+1) .button-text {
    @include half-highlight-multiline($requesting-color);
  }

  &.highlight:nth-child(3n+2) .button-text,
  &:hover:nth-child(3n+2) .button-text {
    @include half-highlight-multiline($offering-color);
  }

  &.highlight:nth-child(3n+3) .button-text,
  &:hover:nth-child(3n+3) .button-text {
    @include half-highlight-multiline($light-highlight-color);
  }

  .button-text {
    line-height: 1em;
    padding: 0px 0.3ch;
  }
}