@import "mixins/all";

a {
  text-decoration: none;
  color: $link;
  &:hover { color: darken($link, 15%); }
  &:active { color: darken($link, 25%); }
}

.truncated-link {
  display: inline-block;
  max-width: em(350);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

small {
  @include small-type;
  display: block;
}

h1, h3 {
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  @include source-comfortaa;
  color: $emphasis;
}

h4, h4, h5, h6 {
  @include source-raleway;
  color: $emphasis;
}

h1 {
  margin: lines(0) 0 lines(0.5);
  font-weight: 700;

  @include media(small-tablet) {
    @include large-type;
    margin-top: lines(0.25, 26);
    margin-bottom: lines(0.5, 26);
  }
}

h2 {
  margin: lines(0) 0 lines(0.5);
  @include normal-type;
  font-weight: 500;

  @include media(small-tablet) {
    @include big-type;
    font-weight: 500;
    text-transform: none;
  }

  .small {
    font-size: 0.55em;
  }
}


// ABOUT PAGE

// Paragraphs

.left-navi-section {
  @include media(tablet) {
    width: 50%;
  }
}

.info1 {
  position: absolute;
  width: 1072px;
  height: 100px;
  left: 177px;
  top: 520px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
  text-align: center;
}

.info2 {
  position: absolute;
  width: 1072px;
  height: 104px;
  left: 177px;
  top: 680px;
  @include source-neue-kabel;
  font-style: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info2 span {
  background-color: #cfe3f5;
  display: inline-block;
  height: 14px;
  font-weight: bold;
  line-height: 2px;
  border-radius: 8px;
}

.info3 {
  position: absolute;
  width: 1072px;
  height: 116px;
  left: 177px;
  top: 810px;
  @include source-neue-kabel;
  font-style: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info4 {
  position: absolute;
  width: 753px;
  height: 116px;
  left: 344px;
  top: 1400px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  /* or 208% */
  text-align: center;
  color: #242424;
  // border: 1px solid #979797;
}

.info5 {
  position: absolute;
  width: 481px;
  height: 181px;
  left: 820px;
  top: 1850px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info6 {
  position: absolute;
  width: 331px;
  height: 216px;
  left: 245px;
  top: 2188px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info7 {
  position: absolute;
  width: 427px;
  height: 190px;
  left: 873px;
  top: 2507px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info8 {
  position: absolute;
  width: 310px;
  height: 221px;
  left: 245px;
  top: 2898px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info9 {
  position: absolute;
  width: 422px;
  height: 270px;
  left: 874px;
  top: 3271px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info10 {
  position: absolute;
  width: 1073px;
  height: 164px;
  left: 177px;
  top: 3770px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  text-align: center;
  color: #242424;
}

.info11 {
  position: absolute;
  width: 753px;
  height: 59px;
  left: 337px;
  top: 4196px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  /* or 208% */
  text-align: center;
  color: #242424;
}

.info11 span {
  background-color: #cfe3f5;
  display: inline-block;
  height: 14px;
  font-weight: bold;
  line-height: 2px;
  border-radius: 8px;
}

.info12 {
  position: absolute;
  width: 645px;
  height: 431px;
  left: 695px;
  top: 4479px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info13 {
  position: absolute;
  width: 645px;
  height: 431px;
  left: 695px;
  top: 4700px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

.info14 {
  position: absolute;
  width: 645px;
  height: 431px;
  left: 695px;
  top: 4850px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #242424;
}

// IMAGES

.image {
position: absolute;
width: 568px;
height: 359px;
left: 436px;
top: 970px;
}

.image1 {
  position: absolute;
  width: 378px;
  height: 258.08px;
  left: 170px;
  top: 1830px;
  border-radius: 30px;
}

.image2 {
  position: absolute;
  width: 400px;
  height: 285.41px;
  left: 900px;
  top: 2161px;
  border-radius: 30px;
}

.image3 {
  position: absolute;
  width: 378px;
  height: 243.51px;
  left: 184px;
  top: 2478px;
  border-radius: 30px;
}

.image4 {
  position: absolute;
  width: 388px;
  height: 258.07px;
  left: 900px;
  top: 2880px;
  border-radius: 30px;
}

.image5 {
  position: absolute;
  width: 374px;
  height: 264.75px;
  left: 214px;
  top: 3245px;
  border-radius: 30px;
}

.image6 {
  position: absolute;
  width: 392px;
  height: 250.75px;
  left: 525px;
  top: 3917px;
  border-radius: 30px;
}

// .image7 {
//   position: absolute;
//   width: 450.03px;
//   height: 460.54px;
//   left: 147px;
//   top: 4471px;
// }

.image8 {
  position: absolute;
  width: 436.03px;
  height: 444.54px;
  left: 147px;
  top: 4471px;
}

.line {
  position: absolute;
  width: 175.5px;
  height: 1851.5px;
  left: 626.5px;
  top: 1807.5px;
}

// HEADINGS

.heading {
  position: absolute;
  width: 582px;
  height: 124px;
  left: 429px;
  top: 254px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900px;
  font-size: 48px;
  line-height: 50px;
  /* or 104% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.heading1 {
  position: absolute;
  height: 124px;
  left: 409px;
  top: 335px;
  @include source-neue-kabel;
  font-style: bold;
  font-weight: 900px;
  font-size: 48px;
  line-height: 50px;
  /* or 104% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.heading1 span {
  background-color: #cfe3f5;
  height: 34px;
  line-height: 16px;
  border-radius: 8px;
}

.start-heading {
  position: absolute;
  width: 544.95px;
  height: 167px;
  left: 48.05px;
  top: 1555.33px;
  font-family: Chantal;
  font-style: italic;
  font-weight: 500;
  font-size: 56.7px;
  line-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  transform: rotate(-7deg);
}

.start-heading span {
  background-color: #cfe3f5;
  height: 34px;
  line-height: 16px;
  border-radius: 8px;
}

.year1 {
  position: absolute;
  width: 419px;
  height: 28px;
  left: 694px;
  top: 1750px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.year1 span {
  background-color: #59bfb8;
  line-height: 12px;
  height: 18px;
  border-radius: 8px;
}

.year2 {
  position: absolute;
  width: 419px;
  height: 28px;
  left: 680px;
  top: 2215px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.year2 span {
  background-color: #59bfb8;
  line-height: 12px;
  height: 18px;
  border-radius: 8px;
}

.year3 {
  position: absolute;
  width: 419px;
  height: 28px;
  left: 711px;
  top: 2590px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.year3 span {
  background-color: #59bfb8;
  line-height: 12px;
  height: 18px;
  border-radius: 8px;
}

.year4 {
  position: absolute;
  width: 419px;
  height: 28px;
  left: 675px;
  top: 2982px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.year4 span {
  background-color: #59bfb8;
  line-height: 12px;
  height: 18px;
  border-radius: 8px;
}

.year5 {
  position: absolute;
  width: 419px;
  height: 28px;
  left: 710px;
  top: 3370px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.year5 span {
  background-color: #59bfb8;
  line-height: 12px;
  height: 18px;
  border-radius: 8px;
}

.year6 {
  position: absolute;
  width: 419px;
  height: 28px;
  left: 690px;
  top: 3689px;
  @include source-neue-kabel;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
}

.year6 span {
  background-color: #59bfb8;
  line-height: 12px;
  height: 18px;
  border-radius: 8px;
}

.team {
  position: absolute;
  width: 412.95px;
  height: 167px;
  left: 85.05px;
  top: 4314.33px;
  font-family: Chantal;
  font-style: italic;
  font-weight: 500;
  font-size: 56.7px;
  line-height: 68px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  transform: rotate(-7deg);
}

.team span {
  background-color: #cfe3f5;
  line-height: 16px;
  height: 32px;
  border-radius: 8px;
}

.footer-container2 {
  margin-top: 4600px;
  margin-left:  -200px;
  width: 800px;
}

a {
  color: black;
  font-weight: bold;
}

.about-page-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

// .splash-screen {
//   position: relative;
//   width: 100%;
//   height: calc(100vh - 60px);

//   .wrapper {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     background: rgba(0,0,0,0);
//     height: 100%;
//   }
// }


