- unless listing.automatically_confirm
  .row
    .col-12
      %p.you-will-be-charged-notice
        = t("listing_conversations.preauthorize.you_will_be_charged", author: author_link, expiration_period: paypal_expiration_period).html_safe